$font-face:'Lato', sans-serif;
$color-1: #272a31;
$color-2: #ec5242;
$color-3: #d3d3d3;
$color-4: white;
$color-5: #292e39;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-face;
  padding: 0;
  margin: 0;
}

.hero-section{
    background: url("../assets/bg_img.jpg");


    .announcement-bar{
        display: flex;
        justify-content: end;
        padding: 12px 150px 12px 0;
        gap: 24px;
        align-items: baseline;
        background-color: $color-1;
        color: $color-3;
        
        a{
            color: $color-3;
            text-decoration: none;
        };
    }
    
    .main-nav-link-wrapper{
        background-color: $color-3;
        display: grid;
        grid-template-columns: 40% 60%;
        text-align: center;
        padding: 1% 10% 1% 10%;
        background-color: $color-4;
    
        .main-nav-list{
            display: flex;
            align-items: center;
            justify-content: space-between;

            a{
                color: $color-1
            }
    
            .nav-btn{
                padding: 10%;
                border: 4px solid $color-2;
                min-width: 120px;

                a{
                    color: $color-2
                }
            }
        }
    
        .logo{
            width: 80%;
            float: left;
        }
    }
}

.section, .to-be-section, .to-be-section{
    padding: 0 10%;
}

.content{
    padding: 10%;
    .heading-heavy{
        font-weight: 900;
        font-size: 70px;
        width: 89%;
        color: transparent;
        -webkit-background-clip: text;
        background-image: url("../assets/1.PNG");
        background-position: center;
    }

    .description{
        border: 4px solid $color-4;
        padding: 12px;
        width: 60%;
    }

    .date p{
        font-size: 30px;
        font-weight: 900;
        width: 100%;
        padding: 5px 0;
        color: $color-1
    }

    span{
        font-size: 18px;
    }
}


.main-program{
    background-image: url("../assets/dotedbg.png");
    background-color: $color-5;
    padding: 1% 10% 5% 10%;

    .see-the-whole-program{
        text-align: center;
        margin-top: 5%;

        u{
            color: $color-4;
        }

        a{
            color: $color-4;
        }
    }

    .headline-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 12px;
        padding: 35px 0;
        color: white;
    }

    .programs-wrapper{

        .programs-wrapper-ul{
            display: flex;
            gap: 2px;

            .program{
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 10px;
                background-color: rgb(60,63,70);
                padding: 10px;

                span{
                    color: #ec5242;
                    font-weight: 600;
                    font-size: 18px;
                }

                i{
                    color: $color-4;
                }

                p{
                    color: $color-4;
                    font-size: 14px;
                }
            }

            .program:hover{
                border: 2px solid $color-4;
            }
        }
    }
}

.feature-speakers{
    padding: 5%;
    
    .heading-mid-heavy-bg-light{
    text-align: center;
    font-weight: 700;
}

.speakers-wrapper{
    margin: 5% 0;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
    row-gap: 5%;

    .speaker{
        display: flex;
        gap: 5%;

        .speaker-title{
            color: $color-2;
        }

        .speaker-content{
            display: flex;
            flex-direction: column;
            gap: 1%;

            hr{
                width: 25px;
                margin: 5px 0;
            }
        }

        .img-bg{
            width: 60%;

            background-image: url("../assets/bgFrame.png");
            padding: 10px 0 0 10px;
            background-size: 50%;
            background-repeat: no-repeat;

            img{
                width: 100%;
            }
        }
    }
}

.showMoreOrLess{
    display: none;
}

}

.desktop-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .desktop-footer-widget-1{
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: $color-5;

        .desktop-footer-title{
            text-align: center;
            color: $color-3;
        }

        .desktop-footer-partners{
            display: flex;
            // gap: 5%;
            justify-content: space-around;

            img{
                width: 20%;
                object-fit: contain;
            }
        }
    }

    
    .desktop-footer-widget-2{
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: $color-4;
        display: flex;
        gap: 24px;

        .dektop-footer-logo{
            width: 30%;

            img{
                width: 100%;
            }
        }
    }
}






// global stles

.cancel-mobile-menu-icon{
    display: none;
}

.join-udm-wrapper{
    display: none;
}

.underline {
    width: 50px;
    border: 2px solid #ec5242;
    margin: 12px auto;
  }

.heading-light{
    font-weight: 500;
    font-size: 30px;
    color: $color-2;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}